include ./mixins
.quicky(data-model='image', data-id=(object ? object.id : ''), class=(object ? 'edit' : 'create'))
	.horz
		.vert
			form(method='post', action='/admin/image/quicky/'+(object ? object.id : ''), enctype='multipart/form-data')
				.row
					if(object)
						img(src=object.medium)
					else
						+image('image', 'Image')
				.row
					+input('caption', 'Caption', 'text', (object ? object.caption : ''))
				.buttons
					.button.close Cancel
					input(type='submit' value=(object ? 'Update' : 'Upload') name='submit').button
					if (object)
						a.button.delete(href='/admin/image/remove/'+object.id) Delete