extends layout.pug
block body
	each model, type in models
		.group(id=type)
			h2
				a(href='/admin/'+type) #{uppercase(type)}
			if model
				ul.list
					for object in model
						li.item
							a(href='/admin/'+object.type+'/edit/'+object.slug) #{object.name}
							| &nbsp;
							a(href='/admin/'+object.type+'/remove/'+object._id).button.x.remove X