extends layout.pug
block body
	each objects, model in models
		.group(class=model)
			h2
				a(href='/admin/'+model) #{uppercase(model)}
			if model
				ul(class=(model == 'images' ? 'grid' : 'list'))
					for object in objects
						li.item
							a(href='/admin/'+object.model+'/edit/'+object.slug)= object.name
							| &nbsp;
							a(href='/admin/'+object.model+'/remove/'+object._id).button.x.remove X