extends layout.pug
block body
	h2
		| #{uppercase(model.p)}
		a.button.add(href='/admin/'+model.s+'/new') +
	if objects
		ul(class=model.p + (model.p == 'images' ? ' grid' : ' list'))
			for object in objects
				li.item
					if(model.s == 'image')
						a(href='/admin/'+model.s+'/edit/'+object.slug)
							img(src=object.small)
					else
						a(href='/admin/'+model.s+'/edit/'+object.slug)= object.name
					| &nbsp;
					a(href='/admin/'+model.s+'/remove/'+object._id).button.x.remove X