aside#left
	.title
		a(href='/admin/') Civil Rights Map
	.scroll
		nav
			ul.edit
				li.link
					a(href='/admin/actions/') Actions
				li.link
					a(href='/admin/locations/') Locations
				li.link
					a(href='/admin/organizations/') Organizations
				li.link
					a(href='/admin/people/') People
				li.link
					a(href='/admin/tactics/') Tactics
				li.link
					a(href='/admin/terms/') Terms
				li.link
					a(href='/admin/images/') Images
			ul.account
				li.link
					a(href='/admin/profile/') Profile
				if(user)
					li.link
						a(href='/admin/logout/') Logout
				else
					li.link
						a(href='/admin/login/') Login