extends ../layout.pug
block body
	each model, key in models
		.group(id=key)
			h1 
				a(href='/admin/'+key) #{key}
			if model
				ul.list
				for object in model
					li.item
						a(href='/admin/'+key+'/edit/'+object.slug) #{object.name}
						a(href='/admin/'+key+'/remove/'+object.slug) X