extends ../layout.pug
block body
	if (message)
		h1 #{message}
	form(action='/admin/signup' method='post')
		.row
			label First Name
			input(type='text' name='firstName')
			label Last Name
			input(type='text' name='lastName')
		.row
			label Email
			input(type='text' name='email')
		.row
			label Password
			input(type='password' name='password')
		button(type='submit') Signup
	| Already have an account?
	a(href='/admin/login') Login
	a(href='/') Home