include ../mixins
doctype html
html(lang='en')
	head
		script(type='text/javascript' src='/js/jquery-3.0.0.min.js')
		script(type='text/javascript' src='/js/admin.js')
		link(rel='stylesheet' href='/css/style.css')
	body
		a(href='/admin/signup/') Signup
		a(href='/admin/profile/') Profile
		a(href='/admin/login/') Login
		a(href='/admin/logout/') Logout
		