.row.header
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	label Date
	+dateselect(object.month, object.day, object.year)
.row
	+images('images', (object ? object.images : ''), false)
.row
	+checkboxes('tactic', 'Tactic(s)', true, true, (object ? object.tactic : null))
.row
	+checkboxes('location', 'Location(s)', true, true, (object ? object.location : null))
.row
	+checkboxes('organization', 'Organization(s)', true, true, (object ? object.organization : null))
.row
	+checkboxes('people', 'People', true, true, (object ? object.people : null))
.row
	+textarea('essay', 'Essay', (object ? object.essayJSON : ''), 15)