.row.header
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	label Date
	+dateselect(object.date)
.row
	+images('images', (object ? object.images : ''), false)
.row
	+checkboxes('tactics', 'Tactic(s)', true, true, (object ? object.tactics : null))
.row
	+checkboxes('locations', 'Location(s)', true, true, (object ? object.locations : null))
.row
	+checkboxes('organizations', 'Organization(s)', true, true, (object ? object.organizations : null))
.row
	+checkboxes('people', 'People', true, true, (object ? object.people : null))
.row
	+textarea('essay', 'Essay', (object ? object.essayJSON : ''), 15)