.row.header
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	label Date
	+dateselect(months, days)
.row
	+checkboxes('tactics', 'Tactics', true, true)
.row
	+checkboxes('locations', 'Locations', true, true)
.row
	+checkboxes('organizations', 'Organizations', true, true)
.row
	+checkboxes('people', 'People', true, true)