.row
	label Name
	input(name='name' type='text' value=(object ? object.name : ''))
.row
	label Location Type
	select(name='location-type').location-type
		option(value='point') Point
		option(value='route') Route
		option(value='area') Area
.group.location-type(data-group='point')
	include ./point.pug
.group.location-type(data-group='route')
	include ./route.pug
.group.location-type(data-group='area')
	include ./area.pug