.row.header
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	label Location Type
	.module.checkboxes.locationType.updateTemplate
		+checkbox('locationType', 'Point', 'point', false, false)
		+checkbox('locationType', 'Area', 'area', false, false)
		+checkbox('locationType', 'Route', 'route', false, false)
.group(data-template='point')
	+input('address', 'Address', 'text', (object ? object.point.address : ''))
	+coords('point', 'Point')
.group(data-template='route')
	+coords('startPoint', 'Start Point')
	+coords('endPoint', 'End Point')
	.row
		+input('routeData', 'Route Data', 'text', (object ? object.routeData : ''))
.group(data-template='area')
	.row
		+input('areaData', 'Area Data', 'text')

.row
	+checkboxes('parentLocation', 'Parent Location', true, false)