.row.two
	.cell
		+input('firstName', 'First Name', 'text', (object ? object.firstName : ''))
	.cell
		+input('lastName', 'Last Name', 'text', (object ? object.lastName : ''))
.row
	+checkboxes('personTypes', 'Person Type', true, true)
.row
	+checkboxes('organizations', 'Organizations', true, true)
.row
	+checkboxes('location', 'Locations', true, true)