- coordGroup = 'startPoint'
.row(data-group=coordGroup)
	label(name=coordGroup) Point
	include ./partials/coords.pug
- coordGroup = 'endPoint'
.row(data-group=coordGroup)
	label(name=coordGroup) Point
	include ./partials/coords.pug
.row
	label(name='pathData') Path Data
	input(name='pathData' type='text')