@font-face {
	font-family: 'Bookman Old Style';
	src: url('../fonts/BookmanOldStyle.eot');
	src: url('../fonts/BookmanOldStyle.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BookmanOldStyle.woff2') format('woff2'),
		url('../fonts/BookmanOldStyle.woff') format('woff'),
		url('../fonts/BookmanOldStyle.ttf') format('truetype'),
		url('../fonts/BookmanOldStyle.svg#BookmanOldStyle') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bookman Old Style Bold';
	src: url('../fonts/BookmanOldStyle-Bold.eot');
	src: url('../fonts/BookmanOldStyle-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BookmanOldStyle-Bold.woff2') format('woff2'),
		url('../fonts/BookmanOldStyle-Bold.woff') format('woff'),
		url('../fonts/BookmanOldStyle-Bold.ttf') format('truetype'),
		url('../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold') format('svg');
	font-weight: 300;
	font-style: normal;
}