form {
	padding: 20px 0;
	// border: 0.25em solid black;
	label {
		font-family: Helvetica;
		font-size: 1em;
		line-height: 1.5em;
		display: table;
	}
	.input {
		width: 100%;
		display: table;
		position: relative;
		&::before, &::after {
			width: 0.1em;
			height: 0.5em;
			position: absolute;
			bottom: 0;
			content: '';
			background: black;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	input, textarea, select {
		width: calc(100% - 0.8em);
		padding: 0.1em 0.4em;
		background: transparent;
		border: solid black;
		border-width: 0 0 0.1em 0;
		font-size: 1em;
		line-height: 1.3em;
		outline: none;
		&:-webkit-autofill {
			background: none;
		}
	}
	input {
		-webkit-appearance: none;
		outline: none;
		font-family: 'Bookman Old Style';
		&[type="submit"] {
			width: auto;
			display: inline-block;
		}
	}
	textarea {
		border: 0.1em solid black;
	}
	.group {
		padding: 0 0 20px 0;
	}
	.sample {
		display: none;
	}
	.row {
		width: 100%;
		display: table;
		padding: 0 0 10px 0;
		clear: both;
		.cell {
			float: left;
			&:first-child {
				margin-right: 1em;
			}
		}
		&.two {
			.cell {
				width: calc(50% - .5em);
			}
		}
	}
	[data-template] {
		display: none;
		&.show {
			display: block;
		}
	}
}

.row.header {
	.input {
		&::before, &::after {
			height: 1em;
		}
		input {
			font-size: 2em;
			border-bottom-width: 0.05em;
		}
	}
}
 
.checkboxes, .options {
	overflow: auto;
	font-size: 1em;
	line-height: 1.1em;
	border: 0.1em solid black;
	background: $lightGrey;
	&.populate {
		.item {
			opacity: 0;
		}
		&.loaded .item {
			opacity: 1;
		}
	}
	.checkbox {
		padding: 5px 0;
		@include transition(color 250ms #{$fadeEase});
		&:hover {
			cursor: pointer;
			color: $darkerGrey;
		}
		label {
			font-family: inherit;
			font-size: inherit;
			line-height: 1.1em;
			display: table;
		}
		input[type="checkbox"], input[type="radio"] {
			display: none;
			&:checked~label {
				&::before {
					background: black;
				}
			}
		}
	}
}	

.checkboxes {
	height: 135px;
	padding: 0 0.5em;
	.checkbox {
		label::before {
			width: 0.55em;
			height: 0.55em;
			margin-right: 0.5em;
			border-radius: 50%;
			border: solid black 0.1em;
			font-size: inherit;
			display: inline-block;
			content: '';
		}
	}
}

.selects {
	display: flex;
	border-bottom: solid black 0.1em;
	padding: 0.15em 0;
	.select {
		background: transparent;
		position: relative;
		.display {
			display: inline-block;
			padding: 0 1.1em 0 0.6em;
			@include transition(color 200ms $fadeEase);
			&:hover {
				color: $darkerGrey;
				cursor: pointer;
			}
		}
		.options {
			max-height: calc(1.8em * 10);
			position: absolute;
			left: 0;
			top: calc(100% + 0.15em);
			padding: 0 0.5em;
			opacity: 0;
			pointer-events: none;
			@include transition(color 200ms $fadeEase);
			&.open {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}

.selects.date {
	.select {
		position: relative;
		@include noSelect;
		&.month {
			.display {
				width: 6em;
			}
		}
		&.day {
			.display {
				width: 1.5em;
			}
		}
		&.year {
			.display {
				width: 2.5em;
			}
		}
		&:not(:last-child) .display:after {
			content: '/';
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.quickCreate {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	display: none;
	background: rgba(255,255,255, 0.95);
	&.open {
		display: block;
	}
	.checkboxes, .options {
		background: rgba(255,255,255, 0.5);
	}
	.horz {
		height: 100%;
	}
	.vert {
		padding: 100px 0;
	}
	form {
		padding: 0;
	}
}