@import 'style';
@import 'forms';

main {
	.inner {
		width: calc(75% - 8em);
		max-width: 700px;
		padding: 4em;
		display: table;
		margin-left: 25%;
	}
}
.quicky {
	.horz {
		width: calc(100% - 8em);
		max-width: 700px;
	}
}