@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i');
@font-face {
	font-family: 'Bookman Old Style';
	src: url('../fonts/BookmanOldStyle.eot');
	src: url('../fonts/BookmanOldStyle.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BookmanOldStyle.woff2') format('woff2'),
		url('../fonts/BookmanOldStyle.woff') format('woff'),
		url('../fonts/BookmanOldStyle.ttf') format('truetype'),
		url('../fonts/BookmanOldStyle.svg#BookmanOldStyle') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bookman Old Style Bold';
	src: url('../fonts/BookmanOldStyle-Bold.eot');
	src: url('../fonts/BookmanOldStyle-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BookmanOldStyle-Bold.woff2') format('woff2'),
		url('../fonts/BookmanOldStyle-Bold.woff') format('woff'),
		url('../fonts/BookmanOldStyle-Bold.ttf') format('truetype'),
		url('../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'David';
	src: url('../fonts/David-Regular.eot');
	src: url('../fonts/David-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/David-Regular.woff') format('woff'),
		url('../fonts/David-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'PressGothic';
	src: url('../fonts/PressGothic.woff2') format('woff2'),
	     url('../fonts/PressGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Compacta Bold';
	src: url('../fonts/CompactaBdBT.woff2') format('woff2'),
	     url('../fonts/CompactaBdBT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


$serif: 'Bookman Old Style', Times, serif;
$sans: 'Archivo Narrow', Arial, sans-serif;
$title: 'Compacta Bold', Arial, sans-serif;