@import 'style';
main {
	width: 100%;
	height: 100%;
}
#intro {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
  mix-blend-mode: lighten;
  opacity: 0;
  transition: opacity 500ms ease;
	.inner {
		width: 100%;
		height: 100%;
		display: table;
		margin: auto;
		.rows {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			.row {
				display: flex;
				margin: auto;
				h1#title {
					font-family: $title;
					text-transform: uppercase;
				}
				#brief {
					max-width: $paraWidth;
					text-align: center;
					font-weight: 700;
				}
				#begin {
					font-family: $title;
					text-transform: uppercase;
					&:hover {
						color: $dark;
						cursor: pointer;
					}
				}
			}
		}
	}
	body.intro & {
		opacity: 1;
	}
	body.map & {
		pointer-events: none;
	}
}
#map {
	width: 100%;
	height: 100%;
	transition: fill-opacity 300ms ease-in, opacity 300ms ease-in, width 150ms $slideEase, margin 150ms $slideEase;
	.leaflet-control-attribution {
		z-index: 300;
	}
	canvas {
		opacity: 0;
		transition: opacity 500ms ease;
	}
	.point {
		width: 12px;
		height: 12px;
		margin: -6px 0 0 -6px;
		background:	$darker;
		// border: 1px solid $darker;
		transition: opacity 300ms ease;
		border-radius: 50%;
		opacity: 0;
		&.hover {
			
		}
		&.selected {
			
		}
	}
	body.intro &, body.map & {
		.point.show {
			opacity: 1;
		}
	}
	body.map & {
		canvas {
			opacity: 1;
		}
	}
}
aside {
	.scroll {
		width: calc(100% - #{$bandWidth});
	}
}
nav {

}
#left {
	bottom: .5em;
	z-index: 500;
	transform: translateX(-#{$leftWidth});
	header {
		width: calc(100% - #{$bandWidth});
	}
	label.checkbox {
		text-transform: uppercase;
		padding: .25em;
		font-weight: 700;
		display: table;
		color: rgba($dark, 0.5);
		@include xSmallText;
		transition: color 200ms $fadeEase;
		&:hover {
			cursor: pointer;
			color: $dark;
			input#inView {
				background-color: $darker;
			}
		}
	}
	ul {
		padding: 0;
		li {
			.name, .address {
				transition: transform 150ms $slideEase;
			}
			.name {
				color: $darker;
			}
			.address {
				color: $dark;
				text-transform: uppercase;
				@include xSmallText;
			}
			&:hover {
				transform-origin: left center;
				.name {
					color: rgba($darker, 0.7);
				}
				.address {
					color: rgba($dark, 0.7);
				}
			}
		}
	}
	&.show {
		transform: translateX(calc(-#{$leftWidth} + #{$bandWidth}));
	}
	&.open {
		transform: translateX(0);
	}
}
#right {
	z-index: 500;
	overflow-x: visible;
	.title {
		h2 {
			font-family: $title;
		}
	}
	.content {
		height: calc(100% - 4em);
    overflow-y: scroll;
    .inner {
    	padding: 1em;
		}
		h3 {
			text-align: center;
		}
		.image {
			opacity: 0;
			img {
				display: table;
				vertical-align: middle;
				width: 100%;
				transform: translateZ(0);
		    mix-blend-mode: multiply;
			}
			&.loaded {
				opacity: 1;
			}
		}
		h4 {
			text-align: center;
	    text-decoration: underline;
		}
		.group {
			padding: 2em 0 0 0;
			.textarea {
				p {
					max-width: 28em;
				}
			}
		}
	}
	.opened & {
		.image {
			&.loaded {
				transition: all 200ms ease;
			}
		}
	}
}
#palette {
	.white{color:$white}
	.light{color:$light}
	.medium{color:$medium}
	.dark{color:$dark}
	.darker{color:$darker}
	.black{color:$black}
	.yellow{color:$yellow}
}