@import 'fonts';
@import 'vars';

html {
	width: 100%;
	height: 100%;
	margin: 0;
	background: $light;
	color: $darker;
	overflow: hidden;
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		font-family: $sans;
		@include mediumText;
		text-rendering: geometricPrecision;
	}
}
section {
	padding: 1em;
}
h1, h2, h3, h4 {
	font-family: $sans;
	margin: 0;
}
h1 {
	@include largeText;
	font-weight: 900;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
}
a, a:visited {
	color: $darker;
	text-decoration: none;
	transition: color 200ms $fadeEase;
	&:hover {
		color: $dark;
	}
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
	&.list {
		padding: 20px 0;
		li {
			position: relative;
			padding: 5px 30px 5px 0;
			border-bottom: solid black 0.1em;
			.button {
				position: absolute;
				right: 0px;
				bottom: 0px;
			}
		}
	}
}

pre {
	white-space: normal;
}

label.checkbox {
	&::before {
		width: .8em;
		height: .8em;
		margin: 0 5px 0 0;
		background-image: none;
		background-color: $light;
		border: 1px solid $dark;
		border-radius: 4px;
		-webkit-appearance: none;
		display: table;
		float: left;
		transition: background-color 200ms $fadeEase;
		outline: none !important;
		content: '';
	}
	input[type="checkbox"] {
		display: none;
		&::checked + label {
			color: red;
			&:before {
				background: red;
			}
		}
	}
}
.inner {
	width: calc(100% - 2em);
	height: 100%;
	min-height: calc(100% - 2em);
	margin: auto;
	padding: 0 1em;
	display: table;
}
nav {
	width: calc(25% - 1em);
	min-width: 10em;
	max-height: calc(40% - .5em);
	display: block;
	top: .5em;
	left: .5em;
	z-index: 600;
	clear: both;
	font-family: $sans;
	font-weight: 900;
	.inner {
		.title {
			width: calc(100% - 1em);
			padding: .5em;
			text-transform: uppercase;
			text-align: center; 
		}
		ul {
			margin: auto;
			list-style: none;
			li {
				padding: 0 0 5px 0;
				display: block;
				list-style: none;
				a, a:visited {
					color: $darker;
					&:hover {
						color: $dark;
					}
				}
			}
		}
	}
}
.float {
	background: rgba($white, .97);
	border: 1px solid rgba($darker, 0.2);
	box-shadow: 1px 0px 0px 0px rgba($darker, 0.1);
	border-radius: 6px;
	position: fixed;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	.top {
		width: calc(100% - 1em);
		padding: .5em;
		background: $yellow;
	}
}
.buttons {
	.button {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.button {
	display: inline-table;
	color: $darker !important;
	font: {
		family: Helvetica;
		size: 1em;
		weight: bold;
	}
	line-height: 1.1em;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	border: 0;
	text-rendering: geometricPrecision;
	transition: color 200ms $fadeEase;
	&:hover {
		color: $medium !important;
		cursor: pointer;
	}
	&.add {
		font-size: 1em;
	}
}

.horz {
	height: 100%;
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.vert {
	display: table-cell;
	vertical-align: middle;
}

.noScroll {
	overflow: hidden;
}