@import 'fonts';
@import 'vars';

html {
	margin: 0;
	background: $lightGrey;
	body {
		margin: 0;
		font: {
			family: 'Bookman Old Style';
			size: 20px;
		}
		line-height: 1.2em;
		text-rendering: geometricPrecision;
	}
}

main {
	padding-top: 100px;
	padding-bottom: 100px;
}
.innerPadding {
	max-width: 900px;
	width: calc(100% - 100px);
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	display: table;
}

nav {
	width: 100%;
	padding: 8px 0;
	display: table;
	background: $mediumGrey;
	color: $darkGrey;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	clear: both;
	.inner {
		width: 100%;
		padding: 0 0 5px 0;
		display: table;
		ul {
			display: table;
			padding: 0;
			margin: auto;
			float: left;
			list-style: none;
			li {
				padding: 5px 15px;
				display: inline-block;
				list-style: none;
				a, a:visited {
					font-family: 'Bookman Old Style';
					color: $black;
					&:hover {
						color: $darkerGrey;
					}
				}
			}
		}
	}
}

section {
	padding: 50px;
}

h1, h2, h3, h4 {
	font-family: Helvetica;
	margin: 0;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
a, a:visited {
	color: $black;
	text-decoration: none;
	@include transition(color 250ms #{$fadeEase});
	&:hover {
		color: $darkGrey;
	}
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
	&.list {
		padding: 20px 0;
		li {
			position: relative;
			padding: 5px 30px 5px 0;
			border-bottom: solid black 0.1em;
			.button {
				position: absolute;
				right: 0px;
				bottom: 0px;
			}
		}
	}
}

.buttons {
	.button {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.button {
	display: inline-table;
	color: $darkGrey !important;
	font: {
		family: Helvetica;
		size: 1em;
		weight: bold;
	}
	line-height: 1.1em;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	border: 0;
	text-rendering: geometricPrecision;
	@include transition(color 200ms $fadeEase);
	&:hover {
		color: $darkerGrey !important;
		cursor: pointer;
	}
	&.add {
		font-size: 1em;
	}
}

.horz {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.vert {
	display: table-cell;
	vertical-align: middle;
}

@import 'forms';