$white: #ffffff;
$light: #f6f4f6;
// $medium: #cdd2d4;
$medium: #e6e4e0;
$dark: #64648c;
$darker: #333167;
$black: #000000;
$yellow: #feec35;

$bandWidth: 1.2em;

@mixin smallBase {
  font-size: 15px;
}
@mixin mediumBase {
  font-size: 18px;
}

@mixin xSmallText {
  font-size: 0.7em;
  line-height: 1.1em;
}

@mixin smallText {
  font-size: 0.8em;
  line-height: 1.4em;
}

@mixin mediumText {
  font-size: 1em;
  line-height: 1.2em;
}

@mixin largeText {
  font-size: 2em;
  line-height: 1em;
}

$fadeEase: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$slideEase: cubic-bezier(0.0, 0.0, 0.2, 1);


@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}