//////////////////////////////////////////////////////////////////
/////////////////////////////COLORS///////////////////////////////
//////////////////////////////////////////////////////////////////

$white: #ffffff;
// $light: #f6f4f6;
$light: #ebeaff;
// $medium: #cdd2d4;
$medium: #e6e4e0;
$dark: #333167;
$darker: #000;
$black: #000000;
$yellow: #feec35;

//////////////////////////////////////////////////////////////////
/////////////////////////////TEXT/////////////////////////////////
//////////////////////////////////////////////////////////////////

$smallBase: 15px;
$mediumBase: 18px;

@mixin smallBase {
  font-size: $smallBase;
}
@mixin mediumBase {
  font-size: $mediumBase;
}

@mixin xxSmallText {
  font-size: 0.9em;
  line-height: 1.3em;
}

@mixin xSmallText {
  font-size: 0.8em;
  line-height: 1.2em;
}

@mixin smallText {
  font-size: 1em;
  line-height: 1.4em;
}

@mixin mediumText {
  font-size: 1.5em;
  line-height: 1.2em;
}

@mixin largeText {
  font-size: 2.5em;
  line-height: 1em;
}

@mixin xLargeText {
  font-size: 6em;
  line-height: 1em;
}


@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//////////////////////////////////////////////////////////////////
///////////////////////////ELEMENT SIZES//////////////////////////
//////////////////////////////////////////////////////////////////

$bandWidth: 1.2em;
$leftWidth: 40vw;
$rightWidth: 60vw;

$maxWidth: 1024px; 
$paraWidth: #{$smallBase*50};

//////////////////////////////////////////////////////////////////
///////////////////////////MEDIA QUERIES//////////////////////////
//////////////////////////////////////////////////////////////////

$tabletWidth: 768px;
$desktopWidth: 1024px;

@mixin tablet {
  @media (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}

//////////////////////////////////////////////////////////////////
/////////////////////////////MISC/////////////////////////////////
//////////////////////////////////////////////////////////////////

$fadeEase: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$slideEase: cubic-bezier(0.0, 0.0, 0.2, 1);

//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////