extends layout.pug
block body
	#intro
		.inner
			.rows
				.row
					h1#title= 'Points of Action'
				.row
					h4#brief= 'A mapped history of the Civil Rights Movement in the five boroughs.'
				.row
					h3#begin= 'Begin The Story'
	#map
	.popup.sample
		.inner
			ul.list
	include ./left
	include ./right
