//- include ./mixins
doctype html
html(lang='en')
	head
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		//- js libraries
		script(type='text/javascript' src='/js/jquery.js')
		script(type='text/javascript' src='/js/jquery-ui.js')
		script(type='text/javascript' src='/js/imagesloaded.js')
		script(type='text/javascript' src='/js/transit.js')
		script(type='text/javascript' src='/js/parse-svg.js')
		script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.2/proj4.js')
		script(type='text/javascript' src='/js/reproject.js')
		script(type='text/javascript' src='/js/geojson2svg.js')
		script(type='text/javascript' src='/js/mapbox-gl.js')
		//- geojson
		//- script(type='text/javascript' src='/geojson/boroughs.js')
		//- custom js
		script(type='text/javascript' src='/js/main.js')
		script(type='text/javascript' src='/js/public.js')
		//- styles
		link(rel='stylesheet' href='/css/mapbox-gl.css')
		link(rel='stylesheet' href='/css/public.css')
	body
		include ./nav
		main
			block body
		#palette
			.white
			.light
			.medium
			.dark
			.darker
			.black
			.yellow

