aside#left
	.band
		a
			.text
				label='='
	.title
		a(href='/admin/login/')
			h2 Civil Rights Map
	.scroll
		nav.group
			ul
				li.link
					a(href='/actions') Actions
				li.link
					a(href='/locations') Locations
				li.link
					a(href='/people') People
				li.link
					a(href='/organization') Organization
				li.link
					a(href='/glossary') Glossary
				li.link
					a(href='/about') About
				li.link
					a(href='/api') API
		//- .locations.group
			ul