@font-face {
  font-family: 'Bookman Old Style';
  src: url("../fonts/BookmanOldStyle.eot");
  src: url("../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle.woff2") format("woff2"), url("../fonts/BookmanOldStyle.woff") format("woff"), url("../fonts/BookmanOldStyle.ttf") format("truetype"), url("../fonts/BookmanOldStyle.svg#BookmanOldStyle") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Bookman Old Style Bold';
  src: url("../fonts/BookmanOldStyle-Bold.eot");
  src: url("../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../fonts/BookmanOldStyle-Bold.ttf") format("truetype"), url("../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold") format("svg");
  font-weight: 300;
  font-style: normal; }
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f6f4f6;
  color: #333167;
  overflow: hidden; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Lunchtype", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    text-rendering: geometricPrecision; }

section {
  padding: 1em; }

h1, h2, h3, h4 {
  font-family: "Lunchtype", Arial, sans-serif;
  margin: 0; }

h1 {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 900; }

h2 {
  font-size: 1.5em;
  font-weight: 700; }

a, a:visited {
  color: #333167;
  text-decoration: none;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a:hover, a:visited:hover {
    color: #64648c; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }
  ul.list {
    padding: 20px 0; }
    ul.list li {
      position: relative;
      padding: 5px 30px 5px 0;
      border-bottom: solid black 0.1em; }
      ul.list li .button {
        position: absolute;
        right: 0px;
        bottom: 0px; }

pre {
  white-space: normal; }

label.checkbox::before {
  width: .8em;
  height: .8em;
  margin: 0 5px 0 0;
  background-image: none;
  background-color: #f6f4f6;
  border: 1px solid #64648c;
  border-radius: 4px;
  -webkit-appearance: none;
  display: table;
  float: left;
  transition: background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  outline: none !important;
  content: ''; }
label.checkbox input[type="checkbox"] {
  display: none; }
  label.checkbox input[type="checkbox"]::checked + label {
    color: red; }
    label.checkbox input[type="checkbox"]::checked + label:before {
      background: red; }

.inner {
  width: calc(100% - 2em);
  height: 100%;
  min-height: calc(100% - 2em);
  margin: auto;
  padding: 0 1em;
  display: table; }

nav {
  width: calc(25% - 1em);
  min-width: 10em;
  max-height: calc(40% - .5em);
  display: block;
  top: .5em;
  left: .5em;
  z-index: 600;
  clear: both;
  font-family: "Lunchtype", Arial, sans-serif;
  font-weight: 900; }
  nav .inner .title {
    width: calc(100% - 1em);
    padding: .5em;
    text-transform: uppercase;
    text-align: center; }
  nav .inner ul {
    margin: auto;
    list-style: none; }
    nav .inner ul li {
      padding: 0 0 5px 0;
      display: block;
      list-style: none; }
      nav .inner ul li a, nav .inner ul li a:visited {
        color: #333167; }
        nav .inner ul li a:hover, nav .inner ul li a:visited:hover {
          color: #64648c; }

.float {
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid rgba(51, 49, 103, 0.2);
  box-shadow: 1px 0px 0px 0px rgba(51, 49, 103, 0.1);
  border-radius: 6px;
  position: fixed;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; }
  .float .top {
    width: calc(100% - 1em);
    padding: .5em;
    background: #feec35; }

.buttons .button {
  margin-right: 10px; }
  .buttons .button:last-child {
    margin-right: 0; }

.button {
  display: inline-table;
  color: #333167 !important;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border: 0;
  text-rendering: geometricPrecision;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .button:hover {
    color: #e6e4e0 !important;
    cursor: pointer; }
  .button.add {
    font-size: 1em; }

.horz {
  height: 100%;
  display: table;
  margin-left: auto;
  margin-right: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

.noScroll {
  overflow: hidden; }

main {
  width: 100%;
  height: 100%; }

#map {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: fill-opacity 300ms ease-in, width 350ms ease-in; }
  #map .leaflet-control-attribution {
    z-index: 300; }
  #map .marker {
    width: 6px;
    height: 6px;
    background: #feec35;
    border: 1px solid #64648c;
    border-radius: 50%; }
  #map.show {
    opacity: 1; }

#right {
  width: calc(75% - 1em);
  min-width: 10em;
  height: calc(100% - 1em);
  right: .5em;
  top: .5em;
  z-index: 500;
  transform: translate3d(100%, 0, 0) scale(0.9);
  transition: transform 350ms ease-in;
  overflow-x: visible; }
  #right .content {
    height: calc(100% - 4em);
    padding: 2em 0;
    overflow-y: scroll; }
    #right .content .inner {
      padding: 1em; }
    #right .content .title h1 {
      text-transform: uppercase;
      text-align: center; }
    #right .content .image {
      opacity: 0; }
      #right .content .image img {
        display: table;
        vertical-align: middle;
        width: 100%; }
      #right .content .image.loaded {
        opacity: 1; }
    #right .content .text {
      font-family: "Bookman Old Style", Times, serif; }
      #right .content .text .group {
        padding: 2em 0 0 0; }
  #right .close {
    display: none;
    width: auto;
    height: 15px;
    padding: .1em;
    position: absolute;
    left: calc(-15px*1.5);
    top: 50%;
    z-index: 600;
    display: table;
    background-color: #f6f4f6;
    font-size: 0.7em;
    line-height: 1.1em;
    font-family: "Lunchtype", Arial, sans-serif;
    font-weight: 900;
    color: #333167;
    text-align: center;
    border: 1px solid #64648c;
    transform: rotateZ(-90deg); }
    #right .close:hover {
      cursor: pointer; }
  .opened #right .close {
    opacity: 1; }
  .opened #right .image.loaded {
    transition: all 200ms ease; }

#left {
  width: calc(25% - 1em);
  min-width: 10em;
  max-height: calc(60% - 1em);
  left: .5em;
  bottom: .5em;
  z-index: 500;
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
  overflow: auto; }
  #left label.checkbox {
    text-transform: uppercase;
    padding: .25em;
    font-weight: 700;
    display: table;
    color: rgba(100, 100, 140, 0.5);
    font-size: 0.7em;
    line-height: 1.1em;
    transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    #left label.checkbox:hover {
      cursor: pointer;
      color: #64648c; }
      #left label.checkbox:hover input#inView {
        background-color: #333167; }
  #left ul {
    padding: 0; }
    #left ul:hover {
      cursor: pointer; }
    #left ul li {
      list-style: none;
      display: block;
      margin: 0;
      padding: .25em;
      transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      #left ul li .name, #left ul li .address {
        transition: transform 150ms cubic-bezier(0, 0, 0.2, 1); }
      #left ul li .name {
        color: #333167;
        font-size: 0.8em;
        line-height: 1.2em; }
      #left ul li .address {
        color: #64648c;
        text-transform: uppercase;
        font-size: 0.7em;
        line-height: 1.1em; }
      #left ul li:hover {
        cursor: pointer;
        transform-origin: left center; }
        #left ul li:hover .name {
          color: rgba(51, 49, 103, 0.7); }
        #left ul li:hover .address {
          color: rgba(100, 100, 140, 0.7); }

#palette .white {
  color: #ffffff; }
#palette .light {
  color: #f6f4f6; }
#palette .medium {
  color: #e6e4e0; }
#palette .dark {
  color: #64648c; }
#palette .darker {
  color: #333167; }
#palette .black {
  color: #000000; }
#palette .yellow {
  color: #feec35; }

/*# sourceMappingURL=_public.css.map */
