@font-face {
  font-family: 'Bookman Old Style';
  src: url("../fonts/BookmanOldStyle.eot");
  src: url("../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle.woff2") format("woff2"), url("../fonts/BookmanOldStyle.woff") format("woff"), url("../fonts/BookmanOldStyle.ttf") format("truetype"), url("../fonts/BookmanOldStyle.svg#BookmanOldStyle") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Bookman Old Style Bold';
  src: url("../fonts/BookmanOldStyle-Bold.eot");
  src: url("../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../fonts/BookmanOldStyle-Bold.ttf") format("truetype"), url("../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'FranklinGothicStd-ExtraCond';
  src: url("../fonts/FranklinGothicStd-ExtraCond.eot");
  src: url("../fonts/FranklinGothicStd-ExtraCond.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothicStd-ExtraCond.woff2") format("woff2"), url("../fonts/FranklinGothicStd-ExtraCond.woff") format("woff"), url("../fonts/FranklinGothicStd-ExtraCond.ttf") format("truetype"), url("../fonts/FranklinGothicStd-ExtraCond.svg#FranklinGothicStd-ExtraCond") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FranklinCondITCStd';
  src: url("../fonts/FranklinCondITCStd-Bold.eot");
  src: url("../fonts/FranklinCondITCStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinCondITCStd-Bold.woff2") format("woff2"), url("../fonts/FranklinCondITCStd-Bold.woff") format("woff"), url("../fonts/FranklinCondITCStd-Bold.ttf") format("truetype"), url("../fonts/FranklinCondITCStd-Bold.svg#FranklinCondITCStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f6f4f6;
  color: #333167;
  overflow: hidden; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "FranklinCondITCStd", Arial, sans-serif;
    font-size: 24px;
    text-rendering: geometricPrecision; }

section {
  padding: 1em; }

h1, h2, h3, h4 {
  font-family: "FranklinCondITCStd", Arial, sans-serif;
  margin: 0; }

h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: 900; }

h2 {
  font-size: 1.5em;
  font-weight: 700; }

a, a:visited {
  color: #333167;
  text-decoration: none;
  -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a:hover, a:visited:hover {
    color: #64648c; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }
  ul.list {
    padding: 20px 0; }
    ul.list li {
      position: relative;
      padding: 5px 30px 5px 0;
      border-bottom: solid black 0.1em; }
      ul.list li .button {
        position: absolute;
        right: 0px;
        bottom: 0px; }

pre {
  white-space: normal; }

label.checkbox::before {
  width: .8em;
  height: .8em;
  margin: 0 5px 0 0;
  background-image: none;
  background-color: #f6f4f6;
  border: 1px solid #64648c;
  border-radius: 4px;
  -webkit-appearance: none;
  display: table;
  float: left;
  -webkit-transition: background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  outline: none !important;
  content: ''; }
label.checkbox input[type="checkbox"] {
  display: none; }
  label.checkbox input[type="checkbox"]::checked + label {
    color: red; }
    label.checkbox input[type="checkbox"]::checked + label:before {
      background: red; }

.inner {
  width: calc(100% - 1em);
  height: 100%;
  min-height: calc(100% - 2em);
  margin: auto;
  padding: 0 .5em;
  display: table; }

nav {
  width: calc(25% - 1em);
  display: block;
  top: .5em;
  left: .5em;
  z-index: 600;
  clear: both;
  font-family: "FranklinCondITCStd", Arial, sans-serif; }
  nav .title {
    width: calc(100% - 2em);
    padding: .25em 1em;
    background: #feec35;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px; }
  nav .inner {
    padding-top: .5em;
    padding-bottom: .5em; }
    nav .inner ul {
      margin: auto;
      list-style: none;
      font-size: 24px; }
      nav .inner ul li {
        padding: 0 0 5px 0;
        display: block;
        list-style: none; }
        nav .inner ul li a, nav .inner ul li a:visited {
          color: #333167; }
          nav .inner ul li a:hover, nav .inner ul li a:visited:hover {
            color: #64648c; }

.float {
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid rgba(51, 49, 103, 0.2);
  box-shadow: 1px 0px 0px 0px rgba(51, 49, 103, 0.1);
  border-radius: 6px;
  position: fixed;
  display: block;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  .float .band {
    background: #feec35; }
    .float .band:hover {
      cursor: pointer; }
  .float .scroll {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.2, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.2, 1); }
    .float .scroll .inner {
      display: block;
      padding: .5em;
      height: auto; }
  .float.top .band {
    width: 100%;
    height: 1em; }
  .float.left .scroll, .float.right .scroll {
    width: calc(100% - 1em); }
  .float.left .band, .float.right .band {
    width: 1em;
    height: 100%;
    position: absolute;
    top: 0; }
  .float.left {
    width: calc(25vw - 1em);
    left: .5em;
    -webkit-transform: translateX(-25vw);
            transform: translateX(-25vw);
    -webkit-transition-duration: 150ms;
            transition-duration: 150ms; }
    .float.left .scroll {
      padding-right: 1em; }
    .float.left .band {
      right: 0; }
    .float.left.show {
      -webkit-transform: translateX(calc(-25vw + 1.5em));
              transform: translateX(calc(-25vw + 1.5em)); }
    .float.left.open {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .float.right {
    width: calc(75vw - 1em);
    right: .5em;
    -webkit-transform: translateX(75vw);
            transform: translateX(75vw);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms; }
    .float.right .scroll {
      padding-left: 1em; }
    .float.right .band {
      left: 0; }
    .float.right.show {
      -webkit-transform: translateX(calc(75vw - 1.5em));
              transform: translateX(calc(75vw - 1.5em)); }
    .float.right.open {
      -webkit-transform: translateX(0);
              transform: translateX(0); }

.buttons .button {
  margin-right: 10px;
  border-width: 0 0 2px 0;
  border-color: #64648c;
  border-style: solid; }
  .buttons .button:last-child {
    margin-right: 0; }

.button {
  color: #333167 !important;
  display: inline-table;
  font-size: 0.7em;
  line-height: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-rendering: geometricPrecision;
  -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .button:hover {
    color: #64648c !important;
    cursor: pointer; }

.horz {
  height: 100%;
  display: table;
  margin-left: auto;
  margin-right: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

.noScroll {
  overflow: hidden; }

.textarea {
  font-family: "Bookman Old Style", Times, serif;
  font-size: 0.8em;
  line-height: 1.4em; }
  .textarea p {
    display: table;
    margin: 0 auto 1em auto !important; }
    .textarea p:not(:first-child) {
      text-indent: 2em; }

form {
  width: 100%; }
  form label {
    display: table;
    font-family: "FranklinCondITCStd", Arial, sans-serif;
    font-size: 0.7em;
    line-height: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5em; }
    form label .button {
      border: none;
      font-size: 1em;
      line-height: 1em;
      margin-left: .25em; }
    form label .instruct {
      color: #64648c;
      margin-left: .5em; }
      form label .instruct::before {
        content: '['; }
      form label .instruct::after {
        content: ']'; }
  form .input {
    width: 100%;
    display: table;
    position: relative; }
    form .input.short {
      width: auto;
      max-width: 100%; }
    form .input::before, form .input::after {
      width: 2px;
      height: .5em;
      position: absolute;
      bottom: 1px;
      content: '';
      background: #64648c; }
    form .input::before {
      left: 0; }
    form .input::after {
      right: 0; }
  form input, form .textarea, form select {
    width: calc(100% - 0.8em);
    padding: 0.1em 0.4em;
    background: transparent;
    border-style: solid;
    border-color: #333167;
    border-width: 0 0 2px 0;
    font-family: "Bookman Old Style", Times, serif;
    font-size: 0.8em;
    line-height: 1.4em;
    outline: none;
    color: #333167; }
    form input:-webkit-autofill, form .textarea:-webkit-autofill, form select:-webkit-autofill {
      background: none; }
    form input.hidden, form .textarea.hidden, form select.hidden {
      display: none; }
  form input {
    -webkit-appearance: none;
    outline: none;
    border-color: #64648c; }
    form input[type="text"] {
      width: calc(100% - 0.4em - 1px);
      padding-right: 1px; }
    form input[type="submit"] {
      width: auto;
      display: inline-block;
      font-family: "FranklinCondITCStd", Arial, sans-serif;
      padding: 0; }
  form .textarea {
    width: 100%;
    padding: 0em;
    border: 2px solid #64648c !important; }
  form input.pseudo {
    display: none; }
  form .ql-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-color: #64648c !important;
    border-width: 2px 2px 0 2px !important; }
  form .null {
    display: none; }
  form .row {
    width: 100%;
    display: table;
    padding: 0 0 1em 0;
    clear: both; }
    form .row .cell {
      float: left; }
    form .row.two .cell {
      width: 50%; }
      form .row.two .cell:first-of-type .input::after {
        display: none; }
  form [data-template] {
    display: none; }
    form [data-template].show {
      display: block; }

.row.header .input input {
  padding-left: 0.2em;
  width: calc(100% - 0.2em - 1px);
  font-size: 2em;
  line-height: 1em;
  font-family: "FranklinCondITCStd", Arial, sans-serif;
  font-weight: 900;
  border-bottom-width: 2px;
  padding-bottom: 0; }

.checkboxes {
  max-height: 10.5em;
  overflow: auto;
  font-size: 1em;
  line-height: 1.1em;
  border: 0.1em solid #64648c;
  background: #f6f4f6; }
  .checkboxes.populate .item {
    opacity: 0; }
  .checkboxes.populate.loaded .item {
    opacity: 1; }
  .checkboxes .checkbox {
    padding: .1em 0;
    -webkit-transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .checkboxes .checkbox label:hover {
      cursor: pointer;
      color: #333167; }
    .checkboxes .checkbox.empty {
      display: none; }
    .checkboxes .checkbox label {
      font-family: inherit;
      font-size: inherit;
      line-height: 1.1em;
      display: table;
      margin: 0;
      text-transform: none; }
      .checkboxes .checkbox label:hover, .checkboxes .checkbox label *:hover {
        cursor: pointer;
        color: #64648c; }
    .checkboxes .checkbox input[type="checkbox"], .checkboxes .checkbox input[type="radio"] {
      display: none; }
      .checkboxes .checkbox input[type="checkbox"]:checked ~ label::before, .checkboxes .checkbox input[type="radio"]:checked ~ label::before {
        background: #64648c; }
        .checkboxes .checkbox input[type="checkbox"]:checked ~ label::before:hover, .checkboxes .checkbox input[type="radio"]:checked ~ label::before:hover {
          cursor: pointer; }

.checkboxes {
  padding: 0.25em 0.5em;
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  -webkit-column-width: 50%;
     -moz-column-width: 50%;
          column-width: 50%;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em; }
  .checkboxes .checkbox label::before {
    width: 0.55em;
    height: 0.55em;
    margin-right: 0.5em;
    border-radius: 50%;
    border: solid #64648c 0.1em;
    font-size: inherit;
    display: inline-block;
    content: ''; }
  .checkboxes.toggle {
    min-height: auto;
    border: none;
    -webkit-columns: none;
       -moz-columns: none;
            columns: none;
    padding: 0; }
    .checkboxes.toggle .checkbox {
      float: left;
      margin-right: 0.5em; }

.selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid #64648c 0.1em;
  padding: 0.15em 0; }
  .selects .select {
    background: transparent;
    position: relative; }
    .selects .select .display {
      display: inline-block;
      padding: 0 1.1em 0 0.6em;
      -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .selects .select .display:hover {
        color: #333167;
        cursor: pointer; }
    .selects .select .options {
      max-height: calc(1.8em * 10);
      position: absolute;
      left: 0;
      top: calc(100% + 0.15em);
      padding: 0 0.5em;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .selects .select .options.open {
        opacity: 1;
        pointer-events: all; }

.dateselect {
  width: 50%; }
  .dateselect .selects {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .dateselect .selects .select {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .dateselect .selects .select.month {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .dateselect .selects .select.selected .display {
        color: #64648c; }
      .dateselect .selects .select:not(:last-child) .display:after {
        content: '/';
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        padding: 0 0.2em; }
      .dateselect .selects .select .display {
        width: calc(100% - .6em); }
      .dateselect .selects .select input {
        display: none; }
  .dateselect .checkboxes {
    border-top: 0; }
    .dateselect .checkboxes:not(.open) {
      height: 0;
      padding: 0;
      border-width: 0; }
    .dateselect .checkboxes .options {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .dateselect .checkboxes .options .checkbox {
        padding: .2em;
        font-size: 0.7em;
        line-height: 1.1em; }

.images {
  display: block;
  clear: both; }
  .images .image {
    height: 100px;
    display: inline-block;
    margin: 0 .5em .5em 0;
    padding: 0;
    cursor: pointer;
    vertical-align: bottom; }
    .images .image.sample {
      display: none !important; }
    .images .image img {
      height: 100%; }

.quicky {
  width: 100%;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  display: none;
  background: rgba(255, 255, 255, 0.95); }
  .quicky.saving .inner {
    pointer-events: none;
    opacity: 0.5; }
  .quicky .inner {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 2em - 20px);
    margin: auto;
    padding-top: 2em !important;
    display: table; }
    .quicky .inner form {
      width: 100%;
      padding: 0;
      margin: 0; }
      .quicky .inner form label {
        text-transform: capitalize; }
      .quicky .inner form img {
        max-width: 100%;
        display: table;
        margin: auto; }
  .quicky.open {
    display: block; }
  .quicky .x {
    width: 1.5em;
    height: 1.5em;
    padding: 1px;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/img/x.svg); }
    .quicky .x:hover {
      cursor: pointer; }

main {
  width: 100%;
  height: 100%; }
  main .scroll {
    width: 100%;
    height: 100%;
    overflow: auto; }
    main .scroll .inner {
      width: calc(75% - 2em);
      max-width: 700px;
      padding: 1em 1em 2em 25%;
      display: table;
      margin: auto; }

nav {
  max-height: calc(100% - 1em); }

.quicky .horz {
  width: calc(75% - 2em);
  max-width: 700px;
  padding: 1em 1em 1em 25%;
  display: table;
  margin: auto; }
  .quicky .horz img {
    width: 100%; }

/*# sourceMappingURL=admin.css.map */