@font-face {
  font-family: 'Bookman Old Style';
  src: url("../fonts/BookmanOldStyle.eot");
  src: url("../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle.woff2") format("woff2"), url("../fonts/BookmanOldStyle.woff") format("woff"), url("../fonts/BookmanOldStyle.ttf") format("truetype"), url("../fonts/BookmanOldStyle.svg#BookmanOldStyle") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Bookman Old Style Bold';
  src: url("../fonts/BookmanOldStyle-Bold.eot");
  src: url("../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../fonts/BookmanOldStyle-Bold.ttf") format("truetype"), url("../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold") format("svg");
  font-weight: 300;
  font-style: normal; }
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f7f7fa;
  color: #333167; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Gill Sans", Arial Black, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    text-rendering: geometricPrecision; }

main {
  width: 100%;
  height: calc(100% - 2em);
  padding-top: 2em; }

section {
  padding: 1em; }

h1, h2, h3, h4 {
  font-family: "Gill Sans", Arial Black, Arial, sans-serif;
  margin: 0; }

h1 {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 900; }

h2 {
  font-size: 1.5em;
  font-weight: 700; }

a, a:visited {
  color: #333167;
  text-decoration: none;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a:hover, a:visited:hover {
    color: #64648c; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }
  ul.list {
    padding: 20px 0; }
    ul.list li {
      position: relative;
      padding: 5px 30px 5px 0;
      border-bottom: solid black 0.1em; }
      ul.list li .button {
        position: absolute;
        right: 0px;
        bottom: 0px; }

pre {
  white-space: normal; }

.padding {
  width: calc(100% - 2em);
  height: 100%;
  min-height: calc(100% - 2em);
  margin: auto;
  padding: 0 1em;
  display: table; }

nav {
  width: 100%;
  height: calc(2em - 1px);
  display: table;
  background: #f7f7fa;
  border-bottom: 1px solid #64648c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  clear: both;
  font-family: "Gill Sans", Arial Black, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase; }
  nav .padding {
    width: 100%;
    display: table-cell;
    vertical-align: middle; }
    nav .padding ul {
      display: table-cell;
      margin: auto;
      float: left;
      list-style: none;
      vertical-align: middle; }
      nav .padding ul li {
        padding: 5px 15px 5px 0;
        display: inline-block;
        list-style: none; }
        nav .padding ul li a, nav .padding ul li a:visited {
          color: #333167; }
          nav .padding ul li a:hover, nav .padding ul li a:visited:hover {
            color: #64648c; }

.buttons .button {
  margin-right: 10px; }
  .buttons .button:last-child {
    margin-right: 0; }

.button {
  display: inline-table;
  color: #333167 !important;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border: 0;
  text-rendering: geometricPrecision;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .button:hover {
    color: #cdd2d4 !important;
    cursor: pointer; }
  .button.add {
    font-size: 1em; }

.horz {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

.noScroll {
  overflow: hidden; }

#map {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: fill-opacity 300ms ease-in, width 200ms; }
  #map .leaflet-control-attribution {
    z-index: 300; }
  #map .point {
    transition: 200ms ease;
    transition-property: fill-opacity, transform;
    fill: #ffe706;
    stroke: #64648c;
    transform-origin: center; }
    #map .point.hover {
      fill-opacity: 1; }
    #map .point.selected {
      fill-opacity: 1; }
  #map.show {
    opacity: 1; }
  #map.thin {
    width: 25%; }

.popup.sample {
  display: none; }

.leaflet-popup {
  padding: 0; }
  .leaflet-popup .leaflet-popup-content-wrapper {
    color: #333167;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border: 0; }
    .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
      border-radius: 0;
      padding: 0;
      font-size: 16px;
      line-height: 1.2em; }
      .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content h3.title {
        font-weight: 900;
        text-transform: uppercase; }
      .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content ul {
        padding: 0; }
        .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content ul li {
          padding: 0;
          text-align: center; }
          .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content ul li a {
            font-family: "Gill Sans", Arial Black, Arial, sans-serif;
            font-weight: 900;
            text-transform: uppercase; }
  .leaflet-popup .leaflet-popup-close-button {
    display: none; }
  .leaflet-popup .leaflet-popup-tip-container {
    display: none;
    margin-top: -1px; }
    .leaflet-popup .leaflet-popup-tip-container .leaflet-popup-tip {
      box-shadow: none;
      background: #f7f7fa;
      border: 1px solid #64648c; }

aside {
  width: 75%;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 500;
  background-color: #f7f7fa;
  border-left: 1px solid #64648c;
  transform: translateX(100%);
  transition: all 200ms ease; }
  aside .content {
    height: calc(100% - 4em);
    padding: 2em 0;
    overflow-y: scroll; }
    aside .content .inner {
      padding: 1em; }
    aside .content .title h1 {
      text-transform: uppercase;
      text-align: center; }
    aside .content .image {
      opacity: 0; }
      aside .content .image img {
        display: table;
        vertical-align: middle;
        width: 100%; }
      aside .content .image.loaded {
        opacity: 1; }
    aside .content .text {
      font-family: "Bookman Old Style", Times, serif; }
  aside.show {
    transform: translateX(0); }
    aside.show .image.loaded {
      transition: all 200ms ease; }

/*# sourceMappingURL=public.css.map */
