@font-face {
  font-family: 'Bookman Old Style';
  src: url("../fonts/BookmanOldStyle.eot");
  src: url("../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle.woff2") format("woff2"), url("../fonts/BookmanOldStyle.woff") format("woff"), url("../fonts/BookmanOldStyle.ttf") format("truetype"), url("../fonts/BookmanOldStyle.svg#BookmanOldStyle") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Bookman Old Style Bold';
  src: url("../fonts/BookmanOldStyle-Bold.eot");
  src: url("../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../fonts/BookmanOldStyle-Bold.ttf") format("truetype"), url("../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold") format("svg");
  font-weight: 300;
  font-style: normal; }
html {
  margin: 0;
  background: #f7f7fa; }
  html body {
    margin: 0;
    font-family: 'Bookman Old Style';
    font-size: 20px;
    line-height: 1.2em;
    text-rendering: geometricPrecision; }

main {
  padding-top: 100px;
  padding-bottom: 100px; }

.innerPadding {
  max-width: 900px;
  width: calc(100% - 100px);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: table; }

nav {
  width: 100%;
  padding: 8px 0;
  display: table;
  background: #f0f0f3;
  color: #adaeb2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  clear: both; }
  nav .inner {
    width: 100%;
    padding: 0 0 5px 0;
    display: table; }
    nav .inner ul {
      display: table;
      padding: 0;
      margin: auto;
      float: left;
      list-style: none; }
      nav .inner ul li {
        padding: 5px 15px;
        display: inline-block;
        list-style: none; }
        nav .inner ul li a, nav .inner ul li a:visited {
          font-family: 'Bookman Old Style';
          color: #000000; }
          nav .inner ul li a:hover, nav .inner ul li a:visited:hover {
            color: #6e707c; }

section {
  padding: 50px; }

h1, h2, h3, h4 {
  font-family: Helvetica;
  margin: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

a, a:visited {
  color: #000000;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a:hover, a:visited:hover {
    color: #adaeb2; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }
  ul.list {
    padding: 20px 0; }
    ul.list li {
      position: relative;
      padding: 5px 30px 5px 0;
      border-bottom: solid black 0.1em; }
      ul.list li .button {
        position: absolute;
        right: 0px;
        bottom: 0px; }

.buttons .button {
  margin-right: 10px; }
  .buttons .button:last-child {
    margin-right: 0; }

.button {
  display: inline-table;
  color: #adaeb2 !important;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border: 0;
  text-rendering: geometricPrecision;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .button:hover {
    color: #6e707c !important;
    cursor: pointer; }
  .button.add {
    font-size: 1em; }

.horz {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

.noScroll {
  overflow: hidden; }

form {
  padding: 20px 0; }
  form label {
    font-family: Helvetica;
    font-size: 1em;
    line-height: 1.5em;
    display: table; }
  form .input {
    width: 100%;
    display: table;
    position: relative; }
    form .input::before, form .input::after {
      width: 0.1em;
      height: 0.5em;
      position: absolute;
      bottom: 0;
      content: '';
      background: black; }
    form .input::before {
      left: 0; }
    form .input::after {
      right: 0; }
  form input, form textarea, form select {
    width: calc(100% - 0.8em);
    padding: 0.1em 0.4em;
    background: transparent;
    border: solid black;
    border-width: 0 0 0.1em 0;
    font-size: 1em;
    line-height: 1.3em;
    outline: none; }
    form input:-webkit-autofill, form textarea:-webkit-autofill, form select:-webkit-autofill {
      background: none; }
  form input {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Bookman Old Style'; }
    form input[type="submit"] {
      width: auto;
      display: inline-block; }
  form textarea {
    border: 0.1em solid black; }
  form .group {
    padding: 0 0 20px 0; }
  form .sample {
    display: none; }
  form .row {
    width: 100%;
    display: table;
    padding: 0 0 10px 0;
    clear: both; }
    form .row .cell {
      float: left; }
      form .row .cell:first-child {
        margin-right: 1em; }
    form .row.two .cell {
      width: calc(50% - .5em); }
  form [data-template] {
    display: none; }
    form [data-template].show {
      display: block; }

.row.header .input::before, .row.header .input::after {
  height: 1em; }
.row.header .input input {
  font-size: 2em;
  border-bottom-width: 0.05em; }

.checkboxes, .options {
  overflow: auto;
  font-size: 1em;
  line-height: 1.1em;
  border: 0.1em solid black;
  background: #f7f7fa; }
  .checkboxes.populate .item, .options.populate .item {
    opacity: 0; }
  .checkboxes.populate.loaded .item, .options.populate.loaded .item {
    opacity: 1; }
  .checkboxes .checkbox, .options .checkbox {
    padding: 5px 0;
    transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: color 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .checkboxes .checkbox:hover, .options .checkbox:hover {
      cursor: pointer;
      color: #6e707c; }
    .checkboxes .checkbox label, .options .checkbox label {
      font-family: inherit;
      font-size: inherit;
      line-height: 1.1em;
      display: table; }
    .checkboxes .checkbox input[type="checkbox"], .checkboxes .checkbox input[type="radio"], .options .checkbox input[type="checkbox"], .options .checkbox input[type="radio"] {
      display: none; }
      .checkboxes .checkbox input[type="checkbox"]:checked ~ label::before, .checkboxes .checkbox input[type="radio"]:checked ~ label::before, .options .checkbox input[type="checkbox"]:checked ~ label::before, .options .checkbox input[type="radio"]:checked ~ label::before {
        background: black; }

.checkboxes {
  height: 135px;
  padding: 0 0.5em; }
  .checkboxes .checkbox label::before {
    width: 0.55em;
    height: 0.55em;
    margin-right: 0.5em;
    border-radius: 50%;
    border: solid black 0.1em;
    font-size: inherit;
    display: inline-block;
    content: ''; }

.selects {
  display: flex;
  border-bottom: solid black 0.1em;
  padding: 0.15em 0; }
  .selects .select {
    background: transparent;
    position: relative; }
    .selects .select .display {
      display: inline-block;
      padding: 0 1.1em 0 0.6em;
      transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .selects .select .display:hover {
        color: #6e707c;
        cursor: pointer; }
    .selects .select .options {
      max-height: calc(1.8em * 10);
      position: absolute;
      left: 0;
      top: calc(100% + 0.15em);
      padding: 0 0.5em;
      opacity: 0;
      pointer-events: none;
      transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .selects .select .options.open {
        opacity: 1;
        pointer-events: all; }

.selects.date .select {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .selects.date .select.month .display {
    width: 6em; }
  .selects.date .select.day .display {
    width: 1.5em; }
  .selects.date .select.year .display {
    width: 2.5em; }
  .selects.date .select:not(:last-child) .display:after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0; }

.quickCreate {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  display: none;
  background: rgba(255, 255, 255, 0.95); }
  .quickCreate.open {
    display: block; }
  .quickCreate .checkboxes, .quickCreate .options {
    background: rgba(255, 255, 255, 0.5); }
  .quickCreate .horz {
    height: 100%; }
  .quickCreate .vert {
    padding: 100px 0; }
  .quickCreate form {
    padding: 0; }

/*# sourceMappingURL=style.css.map */
