.cell
	label(name=coordGroup+'.latitude') Latitude
	input(name=coordGroup+'.latitude' type='text')
.cell
	label(name=coordGroup+'.longitude') Longitude
	input(name=coordGroup+'.longitude' type='text')