include ../../../mixins
.quicky(data-model=type)
	.horz
		.vert
			h2 Create New #{name}
			form(method='post' action='/admin/'+type+'/quicky/')
				case type
					when 'users'
						include ../user.pug
					when 'action'
						include ../action.pug
					when 'location'
						include ../location.pug
					when 'person'
						include ../person.pug
					when 'organization'
						include ../organization.pug
					when 'tactic'
						include ../tactic.pug
					when 'term'
						include ../term.pug
					default
						- var noForm = true
						| No form for "#{type}"
				.buttons
					input.button.cancel(type='submit' value='Cancel')
					if(!noForm)
						input.button.save(type='submit', value=action)