include ../../../mixins
.quickCreate(data-model=type)
	.horz
		.vert
			h2 Create New #{name}
			form(method='post' action='/admin/'+type+'/quick-create/')
				.row
					+input('name', 'Name', 'text')
				input(type='submit' value='Create').button