include ../../../mixins
.quickCreate(data-model=type)
	.horz
		.vert
			h2 Create New #{name}
			form(method='post' action='/admin/'+type+'/quick-create/')
				case type
					when 'users'
						include ../user.pug
					when 'actions'
						include ../action.pug
					when 'locations'
						include ../location.pug
					when 'persons'
						include ../person.pug
					when 'organizations'
						include ../organization.pug
					when 'tactics'
						include ../tactic.pug
					when 'terms'
						include ../term.pug
					default
						- var noForm = true
						| No form for "#{type}"
				.buttons
					input.button.cancel(type='submit' value='Cancel')
					if(!noForm)
						input.button.save(type='submit', value=action)